#surenteteplanning{
    background-color: rgba(204, 198, 198, 0.5);
    color: rgb(128, 17, 128);
    text-align: right;
    padding: 10px;
    font-size: 1.3em;

}

#planning button {
    background: none;
    border: none;          
    color: rgb(128, 17, 128); 
    font-size: 1.2em;       
    cursor: pointer;
}

table tr:first-child td {
    background-color: rgba(204, 198, 198,0.5);
    border: none;
}
td{
    padding: 5px;
    text-align: center;
}
td:first-child {
    width: 50px;
    border: none;
}

td:not(:first-child) {
    width: 250px;
}

header nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: #000000;
    background-color: rgba(140, 88, 231, 0.5); /* Fond légèrement violet pour inactif */
}

header nav ul details li a  {
    background-color: white;
    border: 1px solid black ;
}
#parametrer {
    margin-left: auto;
    font-size: 16px;
}

table {
    border: none;
}