/* design de la page en global */
body{
    background: rgba(104, 214, 244, 0.5);
}
/* design de la sur entête */
#surenteteplanning {
    background: linear-gradient(to right, rgba(0, 198, 255, 0.5), rgba(125, 0, 255, 0.5));
    color: rgb(128, 17, 128);
    padding: 20px;
    font-size: 1.4em;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#surenteteplanning #datePlanning {
    text-align: center;
    color: black;
}
/* Design du bouton du planning */
#planning button {
    background: none;
    border: none;          
    color: rgb(128, 17, 128); 
    font-size: 1.3em;       
    cursor: pointer;
    margin: 0 10px; /* Ajoute un espace entre les boutons et le texte */
}
/* design de la 1ère ligne du tableau */
table tr:first-child td {
    background-color: rgba(204, 198, 198,0.5);
    border: none;
    position: sticky; /* permet que sa descend */
    top: 0px;
}

/* design des lignes paires */
table tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.1); /* Fond gris clair */
}

td{
    padding: 5px;
    text-align: center;
}
td:first-child {
    width: 50px;
    border: none;
}

td:not(:first-child) {
    width: 250px;
}
/* Design de la barre de navigation avec les 2 boutons */
header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul details li a  {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: #000000;
    background-color: white;
    border: 1px solid black ;
    font-family: "Times New Roman", Times, serif;
}

header nav ul details li button  {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: #000000;
    background-color: white;
    border: 1px solid black ;
    font-family: "Times New Roman", Times, serif;

}
#parametrer {
    margin-left: auto;
    font-size: 16px;
}

/* design du tableau */
table {
    border: none;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
}

/* Design de l'évènement*/
.event {
    background-color: transparent;
    color: white; /* Changez cela selon vos besoins */
    padding: 5px;
    border-radius: 4px;
    font-size: 0.9em;
    text-align: center;
    display: block;
}